.mailersBackgroundImage {
    background-image: url("./Mailers.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: auto;
}

.theFormContainer {
    margin: 0% 20% ;
    justify-content: center;
    align-items: center;
}

input[type="text"] {    
    padding: 12px 5px;
    margin: 8px 0;
    box-sizing: border-box; 
    color: #090446;
    text-align: left;  
    font-style: italic; 
    border: none;
    border-bottom: 2px solid #090446;    
}

input[type="password"] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: #090446;
    text-align: left;
    border: none;
    border-bottom: 2px solid  #090446;
}

input[type="text"]:focus {
    border: 1px solid  #090446;
}

.btn{
    border: none;    
    color:  #090446;
    background-color: #ffffff;
    font-weight: bold;   
    height: 40px;
    width: 70px;
    border-radius: 20px; 
    align-self: center;  
}
.positionAlign{
    vertical-align: bottom;
    text-align: left;
}

.errorMessage{
    font-weight: bold;
    color: #ffffff;
    font-style: italic;
    font-size: small;
    text-align: center;
    padding-left: 10px;
}
.errToast{
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 5vh;
    width: 100%;
    background-color: grey;
    color: darkred;    
    display: flex;  
    justify-content: flex-start;
}